	
	<div class="column">

		<h1>About</h1>

		<p><%= link_to 'The Panama Papers', 'http://panamapapers.icij.org' %> investigation by the <%= link_to 'International Consortium of Investigative Journalists', 'http://www.icij.org' %>, Süddeutsche Zeitung and more than 100 media outlets around the world is based on a trove of more than 11 million secret files, and allows a never-before-seen view inside the offshore world – providing a day-to-day, decade-by-decade look at how dark money flows through the global financial system, breeding crime and corruption, and stripping national treasuries of tax revenues.</p>

		<p>This game, produced with support from the <%= link_to 'Pulitzer Center on Crisis Reporting', 'http://pulitzercenter.org' %>, explores the impact of this financial secrecy on the continent of Africa.</p>

		<h2>Credits</h2>

		<ul>
			<li>Lead reporter: <%= link_to 'Will Fitzgibbon', 'https://www.icij.org/journalists/will-fitzgibbon' %></li>
			<li>Digital editor: <%= link_to 'Hamish Boland-Rudder', 'https://www.icij.org/journalists/hamish-boland-rudder' %></li>
			<li>Data reporter: <%= link_to 'Cécile Schilis-Gallego', 'https://www.icij.org/journalists/cecile-schilis-gallego' %></li>
			<li>Intern: <%= link_to 'Simon Bouvier', 'https://www.icij.org/contributors/simon-bouvier' %></li>
			<li>Design and development: <%= link_to 'Populate Tools', 'http://populate.tools' %> (<%= link_to 'Álvaro Ortiz', 'http://www.twitter.com/furilo' %>, <%= link_to 'Fernando Blat', 'http://www.twitter.com/ferblape' %>, <%= link_to 'Jorge Gómez Sancha', 'http://www.twitter.com/jorgesancha' %>)</li>
			<li>Fact-checker: <%= link_to 'Peter Smith', 'https://www.publicintegrity.org/authors/peter-newbatt-smith' %></li>
			<li>Images and videos: Shutterstock</li>
		</ul>

	 	<h2>Disclaimer</h2>

	 	<p>There are legitimate uses for offshore companies and trusts. ICIJ does not intend to suggest or imply that any persons, companies or other entities have broken the law or otherwise acted improperly.</p>

	 	<h2>Data sources</h2>

	 	<p>The Panama Papers, United Nations Economic Commission for Africa, United Nations Population Division, World Bank, Organization for Economic Cooperation and Development, World Travel & Tourism Council, Global Financial Integrity, the Kimberley Process.</p>

	 	
	 	<div class="separator"></div>

	 	<p>
	 		<%= link_to 'Restart game', session_path, method: :delete, data: {confirm: 'If you restart the game, you will lose all your actual points!' } %>
	 	</p>

	</div>